@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --bg-color: rgb(250, 249, 246);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}


body {
  background-color: var(--bg-color);
  width: 100%;
  font-family: Inter, sans-serif;
  height: 100%;
}

.logo:hover{
  transform: rotate(360deg);
  transition: all 0.9s ease-in-out;
}
.navbar{
  width: 100%;
  max-width: 94%;
  display: flex;
  margin: 1rem auto;
  align-items: center;
  justify-content:space-between;
  gap: 1rem;
  flex-wrap: wrap;
}


.blob{
  position: fixed;
  z-index: -4;
  width: 100%;
  height: 100%;
  top: 60%;
  left: 54%;
}
