.navbar{
  width: 100%;
  max-width: 94%;
  display: flex;
  margin: 1rem auto;
  align-items: center;
  justify-content:space-between;
  gap: 1rem;
  flex-wrap: wrap;
}

.logo:hover{
  transform: rotate(360deg);
  transition: all 0.9s ease-in-out;
}

.navbar span {
  display: flex;
  gap: 1rem;

}


.button {
  height: 100%;
  width: 100%;
  max-width:300px;
  min-width: 150px;
  max-height: 70px;
  color: #000;
  padding: 0.5rem 1rem;
  border-radius: 30px;
  cursor: pointer;
  box-shadow: 3px 1px 5px rgba(0, 0, 0, 0.2);
  transition: all 0.3s ease;
}


.button:hover {
  background-color: #000;
  color: #fff;
}



.navbar a > img {
  width: 100%;
  max-width: 90px;
  position: relative;
  box-shadow: -5px 10px 5px rgba(0, 0, 0, 0.2);
  border-radius: 100%;
}


@media only screen and (max-width: 768px) {
		.navbar {
		flex-direction: column;
		gap: 1rem;
	}
	.navbar span {
		flex-direction: column;
		gap: 1rem;
	}
	.button {
		width: 100%;
	}	
}
